<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row" >
    <div class="col">
      <a href="/loginSignUp/login" class="btn btn-primary" type="button">Login</a>
      <a href="/loginSignUp/signUp" class="btn btn-primary" type="button">Sign Up</a>
    </div>
  </div>
</div>