
<div class="container-fluid">
    <div class="row mealPlans justify-content-around">
        <div class="col-sm-5 col-md-3 mb-3">
            <div class="card card-style">
                <img src="/images/veg-meal-pic.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Vegetarian</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime, nam quas sapiente debitis asperiores.
                    </p>
                    <a href="/description" class="btn btn-primary rounded-3">More Info</a>
                    <a href="#" class="btn btn-outline-primary rounded-3">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-3 mb-3">
            <div class="card card-style">
                <img src="/images/non-veg-meal-pic.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Non-Vegetarian</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime, nam quas sapiente debitis asperiores.
                    </p>
                    <a href="/description" class="btn btn-primary rounded-3">More Info</a>
                    <a href="#" class="btn btn-outline-primary rounded-3">Buy Now</a>
                </div>
            </div>
        </>
    </div>
</div>