.header {
  // background-color: lightpink;
  background: transparent;

  &.bg-change {
    background-color: #e8eded;
  }

  &__logo {
    margin: 1rem;

    @include breakpoint-up(medium) {
      grid-column: 2 / 3;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transform: scale(1, 0);
    background: rgba($color: #fff, $alpha: 0.8);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    ul {
      @include breakpoint-up(medium) {
        display: flex;

        li {
          margin-left: 2em;
        }
      }
    }

    a {
      display: block;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 200;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }

    &.show {
      transform: scale(1, 1);

      a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }
    }

    @include breakpoint-up(medium) {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.4rem;
    margin-right: 1em;

    span {
      display: block;
      height: 3px;
      width: 2em;
      border-radius: 2px;
      background: black;
      transition: transform 200ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.show-cross {
      span {
        transform-origin: 4px 2px;
        transition: transform 250ms ease-in-out;
      }

      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }

    @include breakpoint-up(medium) {
      display: none;
    }
  }

  @include breakpoint-up(medium) {
    display: grid;
    grid-template-columns: 1fr auto minmax(400px, 3fr) 1fr;

    &__list {
      a {
        opacity: 1;
      }
    }
  }

  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
  }
}
